<div>
    <h2 id="page-heading">
        <span jhiTranslate="cleoBeautySalonApp.salon.home.title">Salons</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-salon" [routerLink]="['/salon/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cleoBeautySalonApp.salon.home.createLabel">
            Create a new Salon
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="salons?.length === 0">
        <span jhiTranslate="cleoBeautySalonApp.salon.home.notFound">No salons found</span>
    </div>
    <div class="table-responsive" *ngIf="salons?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="cleoBeautySalonApp.salon.address">Address</span></th>
            <th scope="col" ><span jhiTranslate="cleoBeautySalonApp.salon.phone">Phone</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let salon of salons ;trackBy: trackId">
                <td><a [routerLink]="['/salon', salon.id, 'view' ]">{{salon.id}}</a></td>
                <td>{{salon.address}}</td>
                <td>{{salon.phone}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/salon', salon.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/salon', salon.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(salon)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
